.CARD {
    text-align: center;
    color:brown;
    background-color:coral;
    padding: 60px;
    border: 30px;
    font-family:Georgia, 'Times New Roman', Times, serifS ;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 4px;
    font-style: italic;
    margin: auto;
    border-style: groove;
    border-color: brown;
    
}
.Carro{
    background-color:burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-decoration: underline;
    text-transform:none;
    text-align: center;
    margin: auto;
    color: black;
    letter-spacing: 2px;
    border: 40px;
    border-style: groove;
    border-color: brown;
    box-sizing: border-box;
}
.servidores{
    background-color: brown;
    text-decoration: underline;
    text-transform: uppercase;
    margin: auto;
    width: 50%;
    border: 20px;
    border-style: groove;
    text-align: center;
    box-sizing: border-box;
    }
.TRONCO{
    background-color: coral;
    padding: 60px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    border: 20px;
    border-style: groove;
    margin: auto;
    letter-spacing: 3px;
    border-color: brown;
}
.tuki_input{
    font-style: italic;
    padding:10px 50px;
    color: red;
    border-radius: 20px;
}
#premium{
        padding: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    color:brown;
    }

    .foto{
    width: 1000px;
    height: 1000px;
    border: 20px groove coral;
    border-radius: 100%;
    background-image: url(imagenes/MI\ VIDA.jpg);
    background-size: 100%;
    margin: auto;
    background-color: rgb(147, 43, 43);
    text-transform: uppercase;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: coral;
    text-align: center;
    box-sizing: border-box;
}
strong {
    color: rgb(29, 29, 156);
    text-transform: uppercase;
    text-decoration: underline;
}
span{
    text-transform: uppercase;
    color: darkred;
    text-decoration: line-through;
}
li{
    color: brown;
    text-decoration: line-through; color:black;
    text-transform: uppercase;
}
body {
    background-image: url(imagenes/BELLAAAA.jpg);
    background-size: 100%;
    box-sizing: border-box;
    border: 5px;
    border-style: groove ;
}
h1{
    font-size: 50px;
    color: brown;
    border: coral;
    text-align: center;
    text-decoration:underline;
    margin: auto;
}
h2{
    padding: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    color:coral;
}
li{
    border: 5px;
    border-style: groove;
    width: 50%;
    margin: auto;
    border-color: coral;
}

